autom4te.cache/
*.cmake
*.o
*.lo
*.deps*
*.a
*.so.*
*.so
bin/
Makefile
CMakeFiles
DartConfiguration.tcl
config.h
*~
*.tmp
*.log
libtool
CMakeCache.txt
build/pkgconfig/libarchive.pc
config.status
install_manifest.txt
stamp-h1
